
/* Body and html basic format */
body, html {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* Background page - Pitt */
  #home {
      background-image: url("../img/UI_Back_2.jpg");
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;  
  }

  #rcorners1 {
    border-radius: 25px;
    background: #003891;
    width: 448.5px;
    height: 345px;
    opacity: 50%;
  }

  .upper-stage {
    align-content: center;
    padding-bottom: 120px;
  }

  .r-middle {
    display: flexbox;
    justify-content: center;
  }

  .img-size {
    height: 115px;
    width: 149.5px;
  }

  .m-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .m-colone {
    display: flexbox;
    background-color: aqua;
    height: 150px;
    width: 150px;
  }
  
  .m-coltwo {
    display: flexbox;
    background-color: beige;
    height: 150px;
    width: 250px;
  }


  /* modal division */

  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
